* {
    /*border: 1px solid black;*/
    font-family: roboto;
   
}

#tengah{
        min-height: 80%;
}

a{
    text-decoration: none;
    color: black;
}
.container{
	width: 80%;
	margin: auto;
}
.container:after{ /*ini buat hero image nya jadi 
    full di bawah content dalam artian masuk ke dalem div(konten)*/
	content: '';
	display: block;
	clear: both;
}
header h1{
	float: left; /*(ini mbuat jadi 1 panel dengan ulli)*/
	padding: 15px 0;
	color: #ff0000;
}
header ul{ /*ini buat nggeser ke kanan yang list (li)*/
	float: right;
}
header ul li{
	display: inline-block; 
}
header ul li a{
	padding: 25px 20px; /*memberikan space ruang di sekitar kata*/
	display: inline-block;
}
header ul li a:hover{ /*hover itu buat adanya efek saat kursor nya di atas elemen tertentu*/
	background-color: #f02626;
	color : #fff;
}
.active{ /*ini merujuk sama home bagian list*/
	background-color: #f02626;
	color: #fff;
}

/*Tabel*/

.form-grup{
    position: relative;
    
    left: 250px;
    width: 50%;
    height: 100px;

}

.pilihan {
    display: inline-block;
    width: 100%;
    height: 30px;
}

.kurir{
    position: relative;
    width: 100%;
    height: 30px;
}

#button-resi{
    position: relative;
    top: 0;
    width: 50%;
    left: 250px;
    height: 30px;
}

#search-input{
    width:89%;
    height: 30px;
}

#search-button{
    float: right;
    background: red;
    color: white;
    outline: none;
    border: none;
    /* tambahkan atribut disini*/
    padding: 0.5rem 1.25cqb;
    border-radius: .5rem;
}

.info{
    margin-top: 10px;
    border: 1px solid black;
    position: relative;
    width: 50%;
    left: 50px;
    left: 250px;
}




#footer{
	padding: 20px 0;
	background-color: #f02626;
	color: #fff;
	text-align: center;
}







/*ini buat edit hasil js cek resi*/



/*#search-button{
    margin-top: 10px;
    background: red;
  color: white;
  outline: none;
  border: none;

  /* tambahkan atribut disini 
  padding: 0.75rem 1.25cqb;
  border-radius: .5rem; 
}*/



/*footer{
	padding: 20px 0;
	background-color: #f02626;
	color: #fff;
	text-align: center;
}*/